@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

body
{
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #505962;
}
.offset::before
{
  height: 3.8rem;
  margin-top: -3.8rem;
  content: "";
  display: block;
}
/*--- Navbar ---*/
.navbar
{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, .6)!important;
}
.navbar-nav li
{
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link
{
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover
{
  color: #9ebb1e;
}

/*--- Slider --- */
.carousel-item
{
  height: 100vh;
}
.carousel-caption
{
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  width: 100%;
  right: 0;
  left: 0;
}
.carousel-caption h1
{
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.carousel-caption h3
{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.btn-lg
{
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
}

/*--- Projects Section ---*/
.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:15%;
  width:15%;
  position:absolute;
}

/*--- Timeline in Experience Section ---*/

/*-- End of Timeline --*/

/*--- Skills Section ---*/
.jumbotron
{
  border-radius: 0;
  padding: 3rem 0 2rem;
  margin-bottom: 0;
}
h3.heading
{
  font-size:  1.9rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 1.9rem;
}
.heading-underline
{
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}
.skills img
{
  max-width: 100%;
  transition: transform .5s ease;
}
.row.no-padding [class*=col-]
{
  padding: 1.5rem;
}
.skills
{
  overflow: hidden;
}

/*--- Contact ---*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}
/*--- Media Queries ---*/
@media (max-width: 767px)
{
  .carousel-caption h1
{
  font-size: 2.3rem;
  letter-spacing: .15rem;
  padding-bottom: .5rem;
}
.carousel-caption h3
{
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}
.btn-lg
{
  font-size: 1rem;
}
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/